.header-header {
    position: fixed;
    top:0;
    left:50px;
    right:50px;
    background-color:#0E4D9D;
    padding:10px;
    text-align: right;
    padding-right: 5%;
}

.header-header a {
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-header button {
    font-size: 25px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0px;
    color: #FCAF15;
    background-color: #0E4D9D;
    border: none;
}

.header-header button::before {
    content: url("/src/assets/Earth\ Globe.png");
    margin: 0px 5px 0 20px;
}