.PostFormContainer {
  width: 100%;
  height: 500px;
  background: linear-gradient(0deg, #ffffff 75.5%, #dbebff 96%);
}

.bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 5px solid #eaeaea;
  justify-content: space-between;
  padding: 10px 20px;
  height: 50px;

  @media (max-width: 768px) { /* 모바일 */
    flex-direction: column;
    height: 140px;
  }

  .PostForm-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 63px;
  height: 26px;
  border-radius: 10px;

  background: linear-gradient(90deg, #6f84e2 0%, #7babe5 100%);

  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  cursor: url('/pointers/cursor-pointer.svg'), pointer;
}

.container1 {
  padding: 35px;
  display: flex;
  flex-direction: row;
  z-index: 1;
  background-color: white;
  @media (max-width: 768px) { /* 모바일 */
    flex-direction: column;
    padding: 20px;
  }
}

.container2 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#title {
  width: 90%;

  border: 0;

  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

#content {
  width: 90%;
  height: 400px;

  border: 0;

  font-size: 20px;
  font-weight: 500;

  resize: none;
  @media (max-width: 768px) { /* 모바일 */
    height: calc(100vh - 400px);
  }
}

.write-line {
  height: 1px;
  width: 90%;
  background-color: #969696;

  margin-top: 10px;
  margin-bottom: 10px;
}
