.Ai-intro-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  flex-grow: 1;
  .Ai-intro-text-wrapper {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .Ai-intro-text {
      padding: 30px;
    }
    .dummy-div {
      width: 400px;
    }
  }
  .bottom-wrapper {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .GlassCube {
      padding: 30px;
    }
    .right-wrapper {
      max-width: 815px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      .HowToUse-wrapper {
        .HowToUse-title-wrapper {
          display: flex;
          align-items: end;
          justify-content: space-between;
          .HowToUse-title-text {
            font-family: Inter;
            font-size: 30px;
            font-weight: 800;
          }
          .Ai-example-image1 {
            height: 300px;
          }
        }
        .HowToUse-line {
          margin-top: 10px;
          margin-bottom: 10px;
          background: white;
          width: 100%;
          height: 1px;
        }
      }
      .Ai-function-wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .Ai-input-wrapper {
          width: 100%;
          height: 43px;
          padding-left: 20px;
          background: transparent;
          border: 1px solid white;
          border-radius: 15px;
          display: flex;
          align-items: center;
          .Ai-input-line {
            width: 1px;
            height: 27px;
            background: white;
          }
          .Ai-input {
            flex-grow: 1;
            padding-left: 10px;
            border: none;
            background: transparent;
            font-family: Inter;
            font-size: 20px;
            font-weight: 500;
            color: white;
          }
          .Ai-input::placeholder {
            color: white;
          }
          .Ai-input:focus {
            outline: none;
          }
        }
        .Ai-generate-button {
          width: 143px;
          height: 46px;
          border-radius: 10px;
          background: #6D4DC7;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Inter;
          font-size: 20px;
          font-weight: 800;
        }
      }
    }
  }
}
@media (max-width: 1400px) {
  .bottom-wrapper img[src*="glasscube.svg"],
  .Ai-intro-text-wrapper .dummy-div {
    display: none;
  }
}