.UtilityWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10px;

  height: 34px;
}

.UtilityImg {
  height: 15px;
  width: auto;
}

.UtilityText {
  font-size: 15px;
  font-weight: 400;
}

.likeContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: url('/pointers/cursor-pointer.svg'), pointer;
  @media{
    gap: 7px;
  }
}

.scrapContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  cursor: url('/pointers/cursor-pointer.svg'), pointer;
}

.scrapRectangle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 65px;
  height: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  background: linear-gradient(90deg, rgba(194, 205, 255, 0.7) 0%, rgba(197, 223, 255, 0.7) 100%);
}
