.banner-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 75px;
    align-items: center;
    margin: 0 61px;
}
.banner-nav img {
    width: 225px;
    height: 54px;
    flex: 20%;
}

.banner-header {
    display: flex;
    align-items: center;

}

.banner-list {
    display: flex;
    list-style: none;
    gap:64px;
    flex:60%;
    justify-content: flex-end;
    align-items: center;
    padding:0px;
}


.banner-list li p{
    font-size: 17px;
    font-weight: 900;
}

.banner-list li a{
    color:black;
}

.banner-list .search-img {
    width: 35px;
    height: 35px;
    vertical-align: middle;
}

/* .banner-university {
    padding:55px;
} */
.banner-university.open {
    box-sizing: border-box;
    background-color: #424242;
    color: white;
}

/* .banner-department {
    padding:55px;
} */
.banner-department.open {
    box-sizing: border-box;
    background-color: #424242;
    color: white;
}
