.checkboxContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  height: 22px;
  margin: 0 15px 0 15px;
  margin-left: auto;
  gap: 5px;
}

.checkbox {
  width: 22px;
  height: 22px;
}

.checkbox-text {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #9FA3A6;
}