.comment-area-container {
  position: absolute;
  bottom: 0px;

  height: 80px;
  width: calc(100% - 253px);

  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 768px) { /* 모바일 */
    position: absolute;
    margin-left: 10px;
    width: calc(90vw);
  }
}

.comment-input-container {
  flex-grow: 1;
  margin-left: 20px;
  margin-right: 120px;
  padding-left: 10px;
  padding-right: 10px;

  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: #EFF2F9;
  @media (max-width: 768px) { /* 모바일 */
    margin: 0;
  }
}

.anonymous-text {
  font-size: 20px;
  font-weight: 400;
  @media (max-width: 768px) { /* 모바일 */
    font-size: 16px;
  }
}

.vline {
  width: 2px;
  height: 28px;

  background-color: #B3B3B3;
}

.comment-input {
  flex-grow: 1;
  font-size: 20px;
  font-weight: 400;

  height: 48px;
  border: 0;
  background-color: transparent;
  @media (max-width: 768px) { /* 모바일 */
    font-size: 16px;
  }
}