.register-input-wrapper {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
}

.div-input {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.register-input {
  flex-grow: 1;

  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;

  border: 0;
}

.register-input-line {
  margin-top: 5px;
  margin-bottom: 20px;
  border-top: 1px solid #969696
}

.RegisterClickButton {
  height: 56px;
  top: 578px;
  left: 879px;
  border-radius: 8px;
  background: linear-gradient(90deg, rgba(156, 175, 226, 0.7) 0%, rgba(181, 197, 242, 0.7) 55%, rgba(156, 175, 226, 0.7) 100%);

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: Inter;
  font-size: 25px;
  font-weight: 600;
  color: #FFFFFF;

  cursor: pointer;
}