.contents-img {
  width: 100%;
  height: auto;
}

.contents {
  white-space: pre-wrap;
  width: 90%;
  margin: 10px;
  padding:10px;

}
@media screen and (max-width: 600px) {
  .contents {
    width: 100%; /* 너비를 100%로 설정 */
  }
}