.PostInfo{
  display: flex;
  align-items: center;
  gap: 15px;
}

.PostTitle {
  display: grid;
  flex-direction: column ;
  justify-content: space-between;
}

.titleText {
  margin: 30px 20px;
  font-size: 25px;
  font-weight: 400;
  align-items: center;

}

.titleInfo {
  margin: 0px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.infoText {
  font-size: 13px;
  font-weight: 400;
  gap: 10px;
  display: flex;
  align-items: center;
  color: #969696;
}

.writerInfo {
  display: flex;
  align-items: center;
  height: 31px;
  width: auto;
  border-radius: 100px;
  background: linear-gradient(270deg, #FFFFFF 24.49%, #AAC9EE 100%);
  padding-left: 10px;
  padding-right: 10px;

  font-size: 13px;
  font-weight: 400;
}