
.icon-add-minus-square:before { content: '\e800'; } /* '' */
.icon-add-plus-sm:before { content: '\e801'; } /* '' */
.icon-add-plus-l:before { content: '\e802'; } /* '' */
.icon-add-plus-square:before { content: '\e803'; } /* '' */
.icon-add-to-queue:before { content: '\e804'; } /* '' */
.icon-alarm:before { content: '\e805'; } /* '' */
.icon-bell:before { content: '\e806'; } /* '' */
.icon-book:before { content: '\e807'; } /* '' */
.icon-bookmark:before { content: '\e808'; } /* '' */
.icon-bookmark-off:before { content: '\e809'; } /* '' */
.icon-bus-1:before { content: '\e80a'; } /* '' */
.icon-bus:before { content: '\e80b'; } /* '' */
.icon-calculate-2:before { content: '\e80c'; } /* '' */
.icon-calculator-02:before { content: '\e80d'; } /* '' */
.icon-camera:before { content: '\e80e'; } /* '' */
.icon-caret-down-md:before { content: '\e80f'; } /* '' */
.icon-caret-down-sm:before { content: '\e810'; } /* '' */
.icon-calendar-add:before { content: '\e811'; } /* '' */
.icon-caret-left-sm:before { content: '\e812'; } /* '' */
.icon-caret-right-sm:before { content: '\e813'; } /* '' */
.icon-caret-up-sm:before { content: '\e814'; } /* '' */
.icon-caret-up-md:before { content: '\e815'; } /* '' */
.icon-chat-circle:before { content: '\e816'; } /* '' */
.icon-chat-conversation:before { content: '\e817'; } /* '' */
.icon-chat-dots:before { content: '\e818'; } /* '' */
.icon-chat:before { content: '\e819'; } /* '' */
.icon-chat-add:before { content: '\e81a'; } /* '' */
.icon-check:before { content: '\e81b'; } /* '' */
.icon-chevron-down:before { content: '\e81c'; } /* '' */
.icon-chevron-left-md:before { content: '\e81d'; } /* '' */
.icon-chevron-right-md:before { content: '\e81e'; } /* '' */
.icon-chevron-left:before { content: '\e81f'; } /* '' */
.icon-chevron-right:before { content: '\e820'; } /* '' */
.icon-chevron-up:before { content: '\e821'; } /* '' */
.icon-circle-check:before { content: '\e822'; } /* '' */
.icon-circle-warning:before { content: '\e823'; } /* '' */
.icon-color:before { content: '\e824'; } /* '' */
.icon-close-md:before { content: '\e825'; } /* '' */
.icon-desktop:before { content: '\e826'; } /* '' */
.icon-dot-vertical:before { content: '\e827'; } /* '' */
.icon-edit-pencil-01:before { content: '\e828'; } /* '' */
.icon-eye-off:before { content: '\e829'; } /* '' */
.icon-eye:before { content: '\e82a'; } /* '' */
.icon-file-blank:before { content: '\e82b'; } /* '' */
.icon-file-document:before { content: '\e82c'; } /* '' */
.icon-filter:before { content: '\e82d'; } /* '' */
.icon-github-invertocat-black-1:before { content: '\e82e'; } /* '' */
.icon-hamburger-md:before { content: '\e830'; } /* '' */
.icon-heart-off:before { content: '\e832'; } /* '' */
.icon-heart:before { content: '\e833'; } /* '' */
.icon-home:before { content: '\e834'; } /* '' */
.icon-home2:before { content: '\e835'; } /* '' */
.icon-image-add:before { content: '\e836'; } /* '' */
.icon-info:before { content: '\e837'; } /* '' */
.icon-instagram-line-gradient:before { content: '\e838'; } /* '' */
.icon-image:before { content: '\e839'; } /* '' */
.icon-instagram-line:before { content: '\e83a'; } /* '' */
.icon-instagram-solid:before { content: '\e83b'; } /* '' */
.icon-kakaotalk:before { content: '\e83c'; } /* '' */
.icon-link-angled:before { content: '\e83d'; } /* '' */
.icon-link-external:before { content: '\e83e'; } /* '' */
.icon-location:before { content: '\e83f'; } /* '' */
.icon-lock:before { content: '\e840'; } /* '' */
.icon-mail:before { content: '\e841'; } /* '' */
.icon-map:before { content: '\e842'; } /* '' */
.icon-my:before { content: '\e843'; } /* '' */
.icon-paper-plane:before { content: '\e844'; } /* '' */
.icon-qr-code:before { content: '\e845'; } /* '' */
.icon-remove-minus:before { content: '\e846'; } /* '' */
.icon-magic-wand:before { content: '\e847'; } /* '' */
.icon-scholarship:before { content: '\e848'; } /* '' */
.icon-search:before { content: '\e849'; } /* '' */
.icon-share-ios-export:before { content: '\e84a'; } /* '' */
.icon-note-edit:before { content: '\e84b'; } /* '' */
.icon-phone:before { content: '\e84c'; } /* '' */
.icon-share:before { content: '\e84d'; } /* '' */
.icon-star-off:before { content: '\e84e'; } /* '' */
.icon-star:before { content: '\e84f'; } /* '' */
.icon-stop-sign:before { content: '\e850'; } /* '' */
.icon-timetable:before { content: '\e851'; } /* '' */
.icon-trash-full:before { content: '\e852'; } /* '' */
.icon-triangle-warning:before { content: '\e853'; } /* '' */
.icon-user-02:before { content: '\e854'; } /* '' */
.icon-user-add:before { content: '\e855'; } /* '' */
.icon-user-circle:before { content: '\e856'; } /* '' */
.icon-user-remove:before { content: '\e857'; } /* '' */
.icon-users-group:before { content: '\e858'; } /* '' */
.icon-users:before { content: '\e859'; } /* '' */
.icon-warning:before { content: '\e85a'; } /* '' */
