.categories {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.categoryItem {
  width: 143px;
  padding-left: 50px;
  height: 60px;
  border-radius: 10px;
  cursor: url('/pointers/cursor-pointer.svg'), pointer;
  font-family: Inter;
  font-size: 17px;
  font-weight: 500;
  color: #656565;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.selected {
  background: linear-gradient(90deg, #6F84E2 0%, #7BABE5 100%);
  font-weight: 700;
  color: #FFFFFF;
}