.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 가로로 4개의 열 생성 */
  overflow-y: auto;
  gap: 20px;
  padding: 20px;
  @media (max-width: 768px) { /* 모바일 */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 10px;
    gap: 10px;
  }
}

.document-card {
  padding: 20px;
  border: 2px solid #AAC9EE;
  cursor: url('/pointers/cursor-pointer.svg'), pointer;
  width: 226px;
  height: 271px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  @media (max-width: 768px) { /* 모바일 */
    height: 100%;
    gap: 10px;
    width: 80%;
  }
  .card-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .document-category {
      display: flex;
      flex-direction: column;
      .category-text {
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        color: #0E4D9D;
        margin-bottom: 4px;
      }
      .category-underbar {
        height: 1px;
        width: 100%;
        background-color: #7AA7E5;
      }
    }
    .document-like {
      display: flex;
      align-items: center;
      gap: 4px;
      .like-num {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  .card-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .document-title {
      font-size: 15px;
      font-weight: 600;
    }
    
    .document-content {
      font-size: 15px;
      font-weight: 500;
      color: #888888;
      overflow: hidden;
      margin-bottom: 6px;
      @media (max-width: 768px) { /* 모바일 */
        display: none;
      }
    }
  }
  .document-date {
    font-size: 30px;
    font-weight: 700;
    color: #7AA7E5;
    text-align: center;
  }
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}